/* ---- Reset ---- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
header, footer{
    color: white;
}

/* ---- Header Menù ---- */

.banner{
    display: flex;
    min-height: 80px;
    justify-content: center;
    padding: 15px;
    background-color: #255EE9;
}
.menù{
    display: flex;
    width: 1200px;
}
.col{
    padding: 10px;
    display: flex;
    align-items: center;
}
.logo{
    width: 20%;
    justify-content: flex-start;
}
nav{
    width: 60%;
    justify-content: center;
}
header ul{
    display: flex;
    list-style: none;
}
header li a{
    padding: 0 20px;
    text-decoration: none;
    font-weight: 500;
    color: white;
}
.log-in{
    width: 20%;
    justify-content: flex-end;
}
.button{
    background-color: white;
    border-radius: 40px;
    padding: 15px;
    border: transparent;
    color: black;
    font-weight: bold;
}
.button:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


/* ---- Header Hero ---- */

.jumbo{
    background-color: #255EE9;
    display: flex;
    justify-content: center;
}
.hero{
    min-height: 500px;
    max-width: 1500px;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    background-image: url(./img/jumbo.png);
    background-size: cover;
}
.box{
    text-align: center;
    min-height: 400px;
    padding: 100px 400px;
    line-height: 1.5;
}
.title *{
    margin-bottom: 20px;
}
.inline{
    display: inline-block;
}
.browser{
    background-color: black;
    color: white;
    margin-left: 20px;
}

/* ---- General ---- */

section{
    display: flex;
    justify-content: center;
}
h1 , h2{
    font-size: 32px;
    margin-bottom: 20px;
}
h3 , h4 , .lang{
    margin-bottom: 20px;
}
h3 , h4{
    color: #8ea1e1;
}

/* ---- Main ---- */

.top{
    border-top: 4px solid #add8e6;
}
.row{
    display: flex;
    padding: 50px 0;
    max-width: 1200px;
    flex-flow: row wrap;
}
.object{
    line-height: 1.5;
    display: flex;
    min-height: 500px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.first{
    width: 60%;
}
.second{
    width: 40%;
    padding: 60px;
}
.third{
    width: 40%;
    padding: 60px;
}
.fourth{
    width: 60%;
}
.fifth{
    width: 60%;
}
.sixth{
    width: 40%;
    padding: 60px;
}
.seventh{
    min-height: 900px;
}
.star{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url(./img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 350px;
    height: 65px;
    margin-bottom: 20px;
}
.grey{
    background-color: #f6f6f6;
}
.Mac{
    background-color: #8ea1e1;
    color: white;
}
/* ---- Footer ---- */

.column{
    display: flex;
    flex-flow: row wrap;
    min-width: 1200px;
    padding-top: 10px;
    padding-bottom: 40px;
    border-bottom: 2px #4a5882 solid;
}
.obj{
    min-height: 580px;
}
footer ul{
    list-style: none;
}
footer li a{
    text-decoration: none;
    color: white;
}
footer li{
    margin-bottom: 20px;
}
.cl0{
    width: 40%;
}
.cl{
    width: 15%;
    
}
.lang{
    display: flex;
    align-items: center;
}
.flag{
    max-height: 20px;
}
.social{
    display: flex;
    justify-content: space-between;
    max-width: 40%;
}
.bot-banner{
    display: flex;
    padding: 30px 0px 0px;   
    justify-content: center;
}
.ftr{
    display: flex;
    width: 1200px;
    min-height: 80px;
    justify-content: space-between;
    align-items: center;
}

/* ---- Colors palette ---- */

.azure{
    background-color: #add8e6;
}
.yellow{
    background-color: #daa520;
}
.blue{
    background-color: #00008b;
}
.hardpink{
    background-color: #ee82ee;
}
.softpink{
    background-color: #ffc0cb;
}
.lightblue{
    background-color: #1e90ff;
}

.green{
    background-color: #228b22;
}
.dark{
    background-color: #23272a;
}
.aquamarine{
    background-color: #20b2aa;
    border: 2px dashed white;
}
.salmon{
    background-color: #f08080;
}
.lightpink{
    background-color: #ffb6c1;
}
.lightaqua{
    background-color: #7fffd4;
}